.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }

.redfont {
	color: red;
}
.greenfont {
	color: green;
}
.bluefont {
	color: blue;
}
.lineseparator {
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 14px;
	margin-left: 10px;
	margin-right: 4px;
	margin-top: 14px;
}
div.icon-48-joombri {
	background-image:url(../../images/joombri-logo-48.png);
}

.fr {
	float:right;
}
.text_area {
	width: 45px;
}

/* config panel */
#jbadmin {
	text-align: left;
	width: 100%;
	min-height: 650px;
}
#jbadmin-header {
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}
.jbadmin-container {
	width: 100%;
}
.jbadmin-left {
	width: 190px;
	float:left;
	border-right: 1px solid #ccc;
	margin-right: 20px;
	position: absolute;
	background-color: white;
}
#jbadmin table {
	margin: 0;
	padding 0;
	width:100%;
	border: collapse;
}
#jbadmin table td {
	padding 5px;
}
table.jbadmin-adminform td {
	vertical-align:top;
}
#jbadmin-menu {
	border-top: 1px solid #ccc;
}
#jbadmin-menu a {
	display: block;
	font-size: 11px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 22px;
	line-height: 22px;
	text-indent: 30px;
}
.jbadmin-mainmenu {
	background: #FBFBFB;
	padding: 3px;
}
.jbadmin-heading {
	background: #c0c0c0;
	font-weight:bold;
	text-decoration:none;
	color:#000;
	padding: 2px;
}
.jbadmin-activemenu {
	background: #fff;
	padding: 5px;
}
.jbadmin-submenu {
	background: #fff;
	padding-left: 10px;
	padding: 5px 5px 5px 15px;
}
.jbadmin-right {
	/*background: #fff;*/
	padding: 5px 5px 5px 220px;
}
td.jbadmin-tdtitle {
	font-weight: bold;
	padding-left: 10px;
	color: #666;
}
.jbadmin-welcome {
	clear:both;
	margin:10px 0;
	padding:10px;
	font-size:12px;
	color:#536482;
	line-height:140%;
	border:1px solid #ddd;
	margin-bottom: 25px;
	background-color: white;
}
.jbadmin-welcome h3 {
	margin:0;
	padding:0;
}
/* config panel end */

/* Small icons config panel */
a.jbicon-db-sm { background: url(../../images/icons/dashboard_sm.png) 5px 5px no-repeat; }
a.jbicon-component-sm { background: url(../../images/icons/component_sm.png) 5px 5px no-repeat; }
a.jbicon-usergroup-sm { background: url(../../images/icons/usergroup_sm.png) 5px 5px no-repeat; }
a.jbicon-plan-sm { background: url(../../images/icons/plan_sm.png) 5px 5px no-repeat; }
a.jbicon-paymode-sm { background: url(../../images/icons/paymode_sm.png) 5px 5px no-repeat; }
a.jbicon-customfield-sm { background: url(../../images/icons/customfield_sm.png) 5px 5px no-repeat; }
a.jbicon-emailtemp-sm { background: url(../../images/icons/emailtemp_sm.png) 5px 5px no-repeat; }
a.jbicon-category-sm { background: url(../../images/icons/category_sm.png) 5px 5px no-repeat; }
a.jbicon-budget-sm { background: url(../../images/icons/budget_sm.png) 5px 5px no-repeat; }
a.jbicon-optimise-sm { background: url(../../images/icons/optimise_sm.png) 5px 5px no-repeat; }
/* Small icons config panel end */

/*Following CSS added to make compatible with J3.x*/
.fltlft { float: left; }
.fltrt { float: right; }

a.grid_true {
	background-image: url('../../images/tick.png');
	display: inline-block;
	height: 16px;
	text-indent: -1000em;
	width: 16px;
}
a.grid_false {
	background-image: url('../../images/publish_x.png');
	display: inline-block;
	height: 16px;
	text-indent: -1000em;
	width: 16px;
}

/* -- CONTROL PANEL STYLES ----------------------------- */
.cpanel div.jbicon, #cpanel div.jbicon { text-align: center; margin-right: 15px; float: left; margin-bottom: 15px; }
.cpanel div.jbicon a, #cpanel div.jbicon a { background-color: #fff; background-position: -30px; display: block; float: left; height: 97px; width: 108px; color: #565656; vertical-align: middle; text-decoration: none; border: 1px solid #CCC; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-transition-property: 	background-position, 	-webkit-border-bottom-left-radius, 	-webkit-box-shadow; -moz-transition-property: 	background-position, 	-moz-border-radius-bottomleft, 	-moz-box-shadow; -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; }
#cpanel div.jbicon a:hover,
#cpanel div.jbicon a:focus,
#cpanel div.jbicon a:active,
.cpanel div.jbicon a:hover,
.cpanel div.jbicon a:focus,
.cpanel div.jbicon a:active { background-position: 0; -webkit-border-bottom-left-radius: 50% 20px; -moz-border-radius-bottomleft: 50% 20px; border-bottom-left-radius: 50% 20px; -webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25); -moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25); box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25); position: relative; z-index: 10; }
#cpanel img, .cpanel img { padding: 10px 0; margin: 0 auto; }
#cpanel span, .cpanel span { display: block; text-align: center; font-size: 11px;}
div.cpanel-left { width: 54%; float: left; }
div.cpanel-right { width: 45%; float: right; }
#cpanel .jbicon-container { width: auto; height: auto; display: inline-block; float: left; }

/* tabs */
dl.tabs { float: left; margin: 10px 0 -1px 0; z-index: 50; }
dl.tabs dt { float: left; padding: 4px 10px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-top: 1px solid #ccc; margin-left: 3px; background: #f0f0f0; color: #666; }
dl.tabs dt.open { background: #F9F9F9; border-bottom: 1px solid #F9F9F9; z-index: 100; color: #000; }
div.current { clear: both; border: 1px solid #ccc; padding: 10px 10px; }
div.current dd { padding: 0; margin: 0; }
dl.tabs dt h3 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }
dl.tabs dt h3 a:link { color: #333; outline: medium none; text-decoration: none; text-transform: none; font-family: Arial;
}
/* pane-sliders end */

/* pane slider styles */
.pane-sliders {	margin: 18px 0 0 0; position:relative; }
.pane-sliders .title { margin: 0; padding: 2px 2px 2px 5px; color: #666; cursor: pointer; }
#content-pane { margin: 8px 10px 15px 15px; }
.pane-sliders .panel { margin-bottom: 3px; border:solid 1px #ccc; }
.pane-sliders .panel h3 { font-size: 13px; background: #fafafa; color: #666; }
.pane-sliders .content { background: #fff; }
.pane-sliders .adminlist { border: 0 none; font-size: 1em; }
.pane-sliders .adminlist td { border: 0 none; }
.pane-toggler span { background: transparent url(../images/j_arrow.png) 5px 50% no-repeat; padding-left: 20px; }
.pane-toggler-down span { background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat; padding-left: 20px; }
.pane-toggler-down { border-bottom: 1px solid #ccc; }
h3.pane-toggler-down a:hover,
h3.pane-toggler a:hover { text-decoration: none; }
.pane-slider.pane-hide { display: none; }
.pane-slider ol li { list-style: none; margin-left: -25px; margin-top: 10px; }
input#jformparams_link_titles1,
input#jformparams_show_title1,
input#jformparams_link_category1 { margin-left: 13px; }
div#position-icon.pane-sliders div.pane-down div.icon-wrapper { margin: 5px 0 5px 0; }
div#position-icon.pane-sliders div.pane-down .icon-wrapper .icon { padding: 5px 0 5px 10px; margin: 0; }
div#position-icon.pane-sliders .icon { background: #fff; }

/* Standards for commonly used elements */
div.width-20	{width: 20%;}
div.width-30	{width: 30%;}
div.width-35	{width: 35%;}
div.width-40	{width: 40%;}
div.width-45	{width: 45%;}
div.width-50	{width: 50%;}
div.width-55	{width: 55%;}
div.width-60	{width: 60%;}
div.width-65	{width: 65%;}
div.width-70	{width: 70%;}
div.width-80	{width: 80%;}
div.width-100	{width: 100%;}